<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>E$$KULPA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="22x32" href="{% static 'media/snake_ico.png' %}">

</head>

<body id="wsio">
    <div id="wsio">
        <header id="nagluwek">
        <div>
            <a href="../">
            <img src="{% static 'media/snake.png' %}" alt="logo" id="obrazek">
            </a>
        </div>
        <h2>Twój Asystent Finansowy </h2>

    </header>
    <div class="container" id="srd">
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" id="but">Change Password</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
<footer id="stopa">
        Skontaktuj się z nami
Email: support@finansowyasystent.pl



    </footer>
</div>
</body>

</html>