<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>


    </head>
<body id="wsio">
    <header id="nagluwek">
        <div>
            <a href="../">
            <img src="{% static 'media/snake.png' %}" alt="logo" id="obrazek">
            </a>
        </div>
        <h2>Twój Asystent Finansowy </h2>

    </header>
    <div id="lewa">
       <h2> Funkcje:</h2>
Śledzenie wydatków: Automatyczne kategoryzowanie i analiza twoich wydatków.
Budżetowanie: Twórz i monitoruj swoje budżety miesięczne.
Oszczędności: Wyznaczaj cele oszczędnościowe i śledź postępy.
Raporty: Generuj szczegółowe raporty finansowe.
Bezpieczeństwo: Twoje dane są chronione najwyższymi standardami bezpieczeństwa.
    </div>

    <main id="srodek">
       <button id="but"><a href="{% url 'dashboard' %}">Panel</a></button>

       <button id="but"><a href="{% url 'login' %}">Login</a></button>

        <button id="but"><a href="{% url 'register' %}">Register</a></button>
    </main>
    <div id="prawa">
        Jak to działa?<br>
        Dodaj swoje wydatki.<br>
        Śledź je: Automatyczne aktualizacje i kategoryzacja transakcji.<br>
        Analizuj swoje wydatki : Personalizowane wykresy dostosowane do twoich potrzeb.
       </div>
    <footer id="stopa">
        Skontaktuj się z nami
Email: support@finansowyasystent.pl



    </footer>

</body>
</html>