<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Dashboard</h2>
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'change_password' %}" class="btn btn-warning">Change Password</a>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <h3>Transactions</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.account.name }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total Spendings</h3>
        <h3>{{total_spendings}}</h3>

        <h3>Total Deposits</h3>
        <h3>{{total_depo}}</h3>
        <h3>Balance</h3>
        <h3>{{balance}}</h3>
        <p><a href="{% url 'create_transaction' %}">Create Transaction</a> </p>

        <h3>Total Amount by Category</h3>
        <div>
            {{ plot_div|safe }}
        </div>
    </div>
</body>

</html>