<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>E$$KULPA</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="icon" type="image/png" sizes="22x32" href="{% static 'media/snake_ico.png' %}">
</head>

<body id="wsio">

      <header id="nagluwek">
        <div>

            <img src="{% static 'media/snake.png' %}" alt="logo" id="obrazek">

        </div>
        <h2>Twój Asystent Finansowy </h2>

    </header>
    <div class="container">
        <h2>Dashboard</h2>
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'change_password' %}" class="btn btn-warning">Change Password</a>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <h3>Transactions</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.account.name }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.amount}}{{transaction.currency.symbol}}</td>
                    <td>{{transaction.transaction_type}}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="alatabela">
        <div id="alatabela_wiersze">
        <h3>Total Spendings</h3>
        <h3>{{total_spendings}}</h3>
    </div>

    <div id="alatabela_wiersze"><h3>Total Deposits</h3>
        <h3>{{total_depo}}</h3>
    </div id="alatabela_wiersze">
        <div id="alatabela_wiersze"><h3>Balance</h3>
        <h3>{{balance}}</h3>
    </div>


        <a href="{% url 'create_transaction' %}" class="btnlike" id="but">Create Transaction</a>
    </div>
        <h3>Total Amount by Category</h3>
        <div>
            {{ plot_div|safe }}
        </div>
    </div>

<footer id="stopa">
        Skontaktuj się z nami
Email: support@finansowyasystent.pl



    </footer>

</body>

</html>